*.iml
gen/
.gradle/
build/
local.properties
.idea/
app/build/
app/release/
.DS_Store
/captures
.externalNativeBuild
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
